body {
  background-color: white;
}

.hidden {
  display: none;
}

#app-list details {
  display: inline-block;
}
#app-list, #app-list ul {
  list-style: none;
}
#app-list li {
  font-size: 20px;
  margin: 5px 5px 15px;
}

li[on-click-render-app] {
  cursor: pointer;
}
li:not([on-click-render-app]) {
  cursor: context-menu;
}

.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.main-header > * {
  margin: 10px;
}

.spinner {
  border: 6px solid rgb(200, 205, 250);
  border-top: 6px solid blue;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 5s linear infinite;
  display: inline-block;
  margin-bottom: -12px;
  margin-right: 12px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

details > details {
  padding-left: 20px;
}